body {
  margin: 0;
  padding: 0;
  font-family: "Alfa Slab One";
  background-color: #002fa7;
}

.app {
  text-align: center;
  color: white;
}

h1 {
  font-size: 5rem;
  margin: 1.5rem 0 0 0;
}

button {
  font-family: "Karla", sans-serif;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1.5rem;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 5px 10px;
}

.canvas-display {
  background-color: white;
}

.display-loading {
  font-size: 3rem;
}

.canvas-text {
  font-size: 1.5rem;
}

.timer-text,
.display-artworkInfo-container,
.display-loading,
.canvas-text {
  font-family: "Karla", sans-serif;
}
.timer-text {
  font-size: 2rem;
  margin: 1rem;
}

.display-artwork-container,
.canvas-container {
  padding: 2rem;
  height: 80%;
}

.app-container-artwork-canvas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .app-container-artwork-canvas {
    display: flex;
    flex-direction: column;
  }
}
